h1, h2, h3, h4, h5 {
   font-family: "Hind Guntur", arial;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 3rem;
  background-color: white;
}

.header-logo {
  height: 32px;
  width: auto;
}

.header-menu {
  display: flex;
  gap: 2rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}

.header-menu a:hover {
  text-decoration: underline;
}

.header-menu a[aria-current="page"] {
  font-weight: 700;
  text-decoration: underline;
}
