h1,
h2,
h3,
h4,
h5 {
   font-family: "Hind Guntur", arial;
}


header {

   padding: 1rem 3rem;
   background-color: white;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  

   
    @media (min-width: 982px) {
   display: flex;
   align-items: center;
   justify-content: space-between;


   padding: 2rem 3rem;
   background-color: white;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

}

.header-logo {
   height: 32px;
   width: auto;
}

.header-menu {
 display: none;
   
    @media (min-width: 982px) {
   display: flex;
   gap: 2rem;



   list-style: none;
   margin-right: 30px;
   padding: 0;
}}

.header-menu a {
   text-decoration: none;
   color: #000;
   font-size: 1.1rem;
   font-weight: 700;
   font-family: "Hind Guntur", arial;

}

.header-menu a:hover {
   background-color: #000;
   color: white;
   font-family: "Hind Guntur", arial;
   padding: 9px;
   font-weight: 700;

}

.header-menu a[aria-current="page"] {
   font-weight: 700;
   padding: 10px 12px;
   background-color: #000;
   color: white;

}


.header-menu a[href="/contact"] {


    @media (min-width: 982px) {
         padding: 10px 30px;
   background-color: #281CE2;
   color: white;
   font-family: "Hind Guntur", arial;
   margin-left: 250px;
   font-weight: 700;


    }

}


.fab-menu {
  position: fixed;
    right: 0;
  bottom: 0;
 
  z-index: 9999;

  width: 56px;
  height: 56px;
  
 
  background-color: #281CE2;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

/* Desktop: verberg de floating button */
@media (min-width: 982px) {
  .fab-menu {
    display: none;
  }
}


.page-intro {

   h1 {
      font-size: 40px;
      font-weight: 400;
      padding-left: 10px;
       width: fit-content;
   }

   h1 strong {
      font-weight: 800;
   }

   @media (min-width: 582px) {


      h1 {
         font-size: 40px;
         font-weight: 400;
         padding-left: 10px;
         width: 300px;
       
      }

      h1 strong {
         font-weight: 800;
      }
   }

   @media (min-width: 1080px) {

      h1 {
         font-size: 50px;
         font-weight: 400;
         padding-left: 210px;
          width: fit-content;
          
      }

      h1 strong {
         font-weight: 800;
      }
   }
}




.Voetbal-International-section{
padding: 25px;

   img{

      width: 315px;
      height: 178px;
   }
}




.Lunar-Institute-section{
padding: 25px;

   img{

      width: 315px;
      height: 178px;
   }
}





.Dushi-Huis-section{
padding: 25px;

   img{

      width: 315px;
      height: 178px;
   }
}